*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
#banner-sec{
    width: 320px;
    height: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #d66c83;
}
#logo{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 16px;
}
#logo-head {
    font-family: "MuseoModerno", sans-serif;
    font-size: 8.5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: center;
    color: rgb(0,0,0);
    position: absolute;
    top: 20px;
    left: 7px;
}
#image-1{
    position: absolute;
    width: 76px;
    height: 38px;
    top: 19px;
    left: 250px;
}
#image-6{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 60px;
    left: 20px;
}
#image-7{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 60px;
    left: 50px;
}
#image-8{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 60px;
    left: 150px;
}
#image-9{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 60px;
    left: 190px;
}
#image-10{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 60px;
    left: 250px;
}
#image-3{
    position: absolute;
    top: 12px;
    left: 259px;
    width: 94px;
    height: 18px;
}
#image-4{
   position: absolute;
    top: 14px;
    left: 220px;
    width: 94px;
    height: 18px;
}
#image-5{
    position: absolute;
    top: 10px;
    left: 245px;
    width: 94px;
    height: 18px;
}
#text1{
    position: absolute;
    font-family: MuseoModerno, cursive;
    font-size: 13.5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: center;
    color: rgb(255, 255 , 255);
    top: 9px;
    left: 60px;
}
#text2{
    position: absolute;
    font-family: MuseoModerno, cursive;
    font-size: 10.5px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: center;
    color: rgb(255, 255 , 255);
    top: 25px;
    left: 75px;
  
}



#image-1{
    transform: translateY(35%);
}  
#image-6,#image-7,#image-8,#image-9,#image-10{
    transform: translateY(-100px);
}  

#text1,#text2{
    transform: translateY(100px);
}  
