*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-sec{
    position: relative;
    width: 320px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}
.img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}
#text-1{
    transform: translateY(-100%);
}
#text-2,#text-3{
    transform: translateY(100%);
}
#text-5{
    transform: translateX(-100%);
}
#image-1{
    transform: translateY(20px);
}
