*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.banner{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}
.img{
    position: absolute;
    top: 0px;
    left: 0px;
}
#logo{
    transform: translateY(-100%);
}
#text-1,#text-2,#text-3{
    transform: translateX(-100%);
}
#text-4{
    transform: translateY(100%);
}
#image_1{
    position: absolute;
   transform: translateX(-100%);
   opacity: 0.5;
}
